@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    --background-color:#0C0C0C;
    --primary-color:#0E8388;
    --secondary-color:#2E4F4F;
    --third-color:#CBE4DE;

    --icon-font:'Courier New', Courier, monospace;
    --usual-font:"Bebas Neue", sans-serif;
}